.uhh {
    color: #00ff87;

    .header {
        font-size: 4.5rem;
        padding: 20px;
        margin-bottom: 30px;
    }
    .code {
        margin-bottom: 60px;
        text-align: center;
        font-size: 2rem;
    }
    .container {
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: center;

        .section {
            border: 1px solid #00ff87;
            border-radius: 5px;
            margin: 20px;
            padding: 20px;
            li {
                line-height: 1.6rem;
            }
            hr {
                color: #00ff87;
                margin: 40px 0;
            }
        }
    }
    .tableSection {
        margin: auto 20px;
        padding: 0;
        table {
            border-collapse: collapse;
            td,
            th {
                // border: 1px solid #ddd;
                padding: 8px;
            }
            th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #00ff87;
                color: #37003c;
            }
            .num {
                text-align: center;
            }
        }
    }
    a {
        color: #f3267e;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
